nav {
    text-align: center;
    width: 100%;
}
nav a {
	color: #000080;
	margin: 30px;
}
nav a:hover {
	background-color: #989898;
	color: #000080;
}
.active {
	background-color: #000080;
	color: white;
}
.text-center {
	text-align: center;
}
body {
	font-family: 'Playfair Display',Times New Roman;
	background-color: white;
	color: #000080;
	border: 9px solid #000080;
	font-size: 20px;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
.img-class {
	border-radius: 30%;
	box-shadow: 6px 4px;
	width: 200px;
}
.text-left {
	text-align: left;
}
#guidelines {
	background-color: #D3D3D3;
	width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000080;
    color: white;
    text-align: center;
  }